
  /*fonts*/
  @font-face {
    font-family: 'MadaniArabic-Regular';
    src: url('fonts/alfont_com_Madani-Arabic-Regular.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'MadaniArabic-Medium';
    src: url('fonts/alfont_com_Madani-Arabic-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
    }
    @font-face {
    font-family: 'MadaniArabic-Light';
    src: url('fonts/alfont_com_Madani-Arabic-Light.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
    }
    @font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-Italic.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
    }
  /*==============Fonts===========================*/
  *{
      font-family: MadaniArabic-Regular ;
  }
  /*======================Logo & Main title=======================*/
  
  /*Main title*/
  .logo-title {
      display: inline-block;
      margin: 20px;
      position: absolute;
      left: 30px;
      top: 0;
      z-index: 10;
  
  }
  .logo-title::before{
      content: ' فروع المبادرة ';
      font-family:MadaniArabic-Regular ;
      font-weight: 600;
      color: rgb(105, 22, 11);
      padding: 10px 50px;
      background-color: white;
      position: relative;
      right: 12px;
      top: -25px;
      z-index: -1;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
  }
  /*1/3 circle effect*/
  .logo-title::after{
      content: '';
     position: absolute;
      width: 80px; 
      height: 80px;
      border-radius: 50%; 
      left: -12px;
      top: -12px;
      background: conic-gradient(
          transparent 0deg,
          transparent 240deg, /* 2/3 */
          white 240deg, 
          white 360deg /* 1/3 */
      );
      mask: radial-gradient(circle, transparent 62%, white 62%); /* Cuts out the inner circle */
      -webkit-mask: radial-gradient(circle, transparent 62%, white 62%); /* Safari support */
  
  }
  
  
  .logo-title img{
      background-color: white;
  
      border-radius: 50%;
      height: 60px;
      width: 60px;
  }
  
  
  @media(max-width: 400px){
      .logo-title {
          display: inline-block;
      
          margin: 20px;
          position: absolute;
          left: 0;
          top: 0;
      
      }
      .logo-title::before{
          font-weight: 500;
          padding: 10px 20px;
      }
  }
  
  
  /*================BODY==============================*/
  body {
      position: relative;
      height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #FDD5E0;
      animation: fadeIn 1s ease-out;
      overflow-x: hidden;
  }
  /*================Background==============================*/
  
  .background-image {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('images/backgroundS.png');
      background-size: cover;
      background-position: center;
      z-index: -1;
  }
  
  /*=======================CONTAINER ALL============================*/
  .container-all{
    position: relative;
    width: 100%;
    max-width: 1530px;
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  /*  transform: translateY(-80%)  scale(1.8); /*to center all elements*/
    gap: 50px; /* فرع التجويد وفرع الحفظ*/
  }
    /*==========================RIGHT DIAGRAM=========================*/
  .diagram-container{
      position: relative;
    display: inline;
  
  
    }  
  
    .diagram-circle{
      position: relative;
      top: 100px;
      width: 200px; /*change the width and height only to resize the whole content*/
      height: 200px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
    }
  
  /*big circle*/
  .diagram-circle::after {
    content: '';
    position: absolute;
    width: 130%; 
    height: 130%;
    border-radius: 50%; 
    left: -35px;
    top: -30px;
    background: conic-gradient(
      transparent 0deg,
      transparent 30deg,
        white 30deg,
        white 155deg, 
        transparent 155deg, 
        transparent 360deg 
    );
    mask: radial-gradient(circle, transparent 69%, white 69%);
    -webkit-mask: radial-gradient(circle, transparent 69%, white 69%);
  }
  
  .diagram-title{
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: rgb(97, 19, 19);
  }
  .diagram-circle li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 60px;
    width: 210px;
    border-radius: 50px;
    background-color: rgb(253, 162, 177);
  
  }
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
  }
  a{
    text-decoration: none;
    font-size: var(--space-xs);
      font-weight: 600;
      color: rgb(97, 19, 19);
      cursor: pointer;
      padding: 3px;
  }
  .diagram-circle li:nth-child(1){
    position: absolute;
    top: -80px;
    left: 190px;
    background-color: white;
  }
  .diagram-circle li:nth-child(2){
    position: absolute;
    top: 10px;
    left: 250px;
  }
  .diagram-circle li:nth-child(3){
    position: absolute;
    top: 110px;
    left: 250px;
    background-color: white;
  }
  .diagram-circle li:nth-child(4){
    position: absolute;
    bottom: -65px;
    left: 190px;
  }
  /*markers*/
  .diagram-circle li:nth-child(1)::before,
  .diagram-circle li:nth-child(2)::before,
  .diagram-circle li:nth-child(3)::before,
  .diagram-circle li:nth-child(4)::before{
      content: ''; 
      height: 10px;
      width: 10px;
      background-color: white;        
      position: absolute;
      border-radius: 50%;
      z-index: 100;
    }
    .diagram-circle li:nth-child(2)::before,
    .diagram-circle li:nth-child(4)::before{
      background-color: rgb(253, 162, 177);        
  
    }
      /*small circle*/
  .diagram-circle li:nth-child(1)::after,
  .diagram-circle li:nth-child(2)::after,
  .diagram-circle li:nth-child(3)::after,
  .diagram-circle li:nth-child(4)::after{
      content: ''; 
      height: 15px;
      width: 15px;
      background-color: transparent;      
      position: absolute;
      border-radius: 50%;
      border: 3px solid white;
      z-index: 100000;
    }
    /*position*/
    .diagram-circle li:nth-child(1)::before,
    .diagram-circle li:nth-child(1)::after{
      top: 58px;
      left: -40px;
    }
    .diagram-circle li:nth-child(1)::after{
      transform: translate(-25%, -25%);
    }
    .diagram-circle li:nth-child(2)::before,
    .diagram-circle li:nth-child(2)::after{
      top: 38px;
      left: -40px;
    }
    .diagram-circle li:nth-child(2)::after{
      transform: translate(-25%, -25%);
      border: 3px solid rgb(253, 162, 177);
    }
    .diagram-circle li:nth-child(3)::before,
    .diagram-circle li:nth-child(3)::after{
      top: 30px;
      left: -40px;
    }
    .diagram-circle li:nth-child(3)::after{
      transform: translate(-25%, -25%);
    }
    .diagram-circle li:nth-child(4)::before,
    .diagram-circle li:nth-child(4)::after{
      bottom: 43px;
      left: -50px;
    }
    .diagram-circle li:nth-child(4)::after{
      transform: translate(-25%, 25%);
      border: 3px solid rgb(253, 162, 177);
    }
  
    /*arrow*/
  
  .arrow{
      position: absolute;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      z-index: 0;
  
  }
  .arrow1{
    top: 40px; 
    border-right: 20px solid white;
    left: -20px;
    transform: rotate(-25deg);
  }
  .arrow2{
    top: 20px; 
    border-right: 20px solid rgb(253, 162, 177);
    left: -25px;
    transform: rotate(-10deg);
  }
  .arrow3{
    top: 25px; 
    border-right: 20px solid white;
    left: -25px;
    transform: rotate(-0deg);
  }
  .arrow4{
    bottom: 30px; 
    border-right: 20px solid rgb(253, 162, 177);
    left: -25px;
    transform: rotate(10deg);
  }
  
  
  
    /*==========================LEFT DIAGRAM=========================*/
    .diagram-left-container{
      position: relative;
    display: inline;
    }  
  
    .diagram-circle-left{
      position: relative;
      top: 100px;
      width: 200px; /*change the width and height only to resize the whole content*/
      height: 200px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
    }
  
  /*big circle*/
  .diagram-circle-left::after {
    content: '';
    position: absolute;
    width: 130%; 
    height: 130%;
    border-radius: 50%; 
    left: -35px;
    top: -30px;
    background: conic-gradient(
      transparent 0deg,
      transparent 205deg,
        white 205deg,
        white 330deg, 
        transparent 330deg, 
        transparent 360deg 
    );
    mask: radial-gradient(circle, transparent 69%, white 69%);
    -webkit-mask: radial-gradient(circle, transparent 69%, white 69%);
  }
  
  /*box position*/
  .diagram-circle-left li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 210px;
    border-radius: 50px;
    background-color: rgb(253, 162, 177);
  }
  
  .diagram-circle-left li:nth-child(1){
    position: absolute;
    top: -50%;
    left: -210px;
    background-color: rgb(253, 162, 177);
    transform: translateY(50%);
  
  }
  
  .diagram-circle-left li:nth-child(2){ 
    position: absolute;
    top: 50%;
    left: -280px;
    background-color: white;
    transform: translateY(-50%);
  }
  .diagram-circle-left li:nth-child(3){
    position: absolute;
    bottom: -50%;
    left: -210px;
    background-color: rgb(253, 162, 177);
    transform: translateY(-50%);
  }
  
  /*markers*/
  .diagram-circle-left li:nth-child(1)::before,
  .diagram-circle-left li:nth-child(2)::before,
  .diagram-circle-left li:nth-child(3)::before{
      content: ''; 
      height: 10px;
      width: 10px;
      background-color: rgb(253, 162, 177);        
      position: absolute;
      border-radius: 50%;
      z-index: 100;
    }
    .diagram-circle-left li:nth-child(2)::before{
      background-color: white;        
  
    }
        /*small circle*/
  .diagram-circle-left li:nth-child(1)::after,
  .diagram-circle-left li:nth-child(2)::after,
  .diagram-circle-left li:nth-child(3)::after{
      content: ''; 
      height: 15px;
      width: 15px;
      background-color: transparent;      
      position: absolute;
      border-radius: 50%;
      border: 3px solid rgb(253, 162, 177);
      z-index: 100000;
      transform: translate(25%, 25%);
    }
    .diagram-circle-left li:nth-child(2)::after{
      border: 3px solid white;
    }
   
    /*position*/
    .diagram-circle-left li:nth-child(1)::before,
    .diagram-circle-left li:nth-child(1)::after{
      bottom: 0;
      right: -20%;
    }
    .diagram-circle-left li:nth-child(2)::before,
    .diagram-circle-left li:nth-child(2)::after{
      bottom: 50%;
      right: -20%;
    }
    .diagram-circle-left li:nth-child(3)::before,
    .diagram-circle-left li:nth-child(3)::after{
      bottom: 80%;
      right: -25%;
    }
    /*arrow*/
  
    .arrow-left{
      position: absolute;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      z-index: -10;
  
  }
  .arrow-left1{
    top: 30px; 
    border-left: 20px solid rgb(253, 162, 177);
    right: -25px;
    transform: rotate(10deg);
  }
  .arrow-left2{
    border-left: 20px solid white;
    top: 20px; 
    right: -25px;
    transform: rotate(-5deg);
  }
  .arrow-left3{
    border-left: 20px solid rgb(253, 162, 177);
    top: 15px; 
    right: -25px;
    transform: rotate(-10deg);
  }
  .diagram-container li{
    padding-right: 15px;
  }
  /*==================================1900 screen==========================*/
  @media(max-width:1900px){
      .container-all{
        gap: 60px;
        transform: translateY(-50%) scale(1.35); /*to center all elements*/
      }
    }
  
  /*==================================1450 screen==========================*/
  @media(max-width:1450px){
    .container-all{
      transform: translateY(-50%) scale(1);
    }
  }
  
  /*==================================1100 screen==========================*/
  @media(max-width:1200px){
  
  
    .container-all{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-10%)  scale(0.7); /*to center all elements*/
      gap: 100px; /* فرع التجويد وفرع الحفظ*/
    }
  }

  @media(max-width:600px){
    .logo-title{
      transform: scale(0.8);
    }
    .container-all{
      flex-direction: column;
      justify-content: center;
      transform: translateY(-5%)  scale(0.55); /*to center all elements*/
      gap: 220px; /* فرع التجويد وفرع الحفظ*/
    }
    .diagram-container{
    display: inline;
    transform: translateX(-60%);
    }
    .diagram-left-container{
      transform: translateX(70%);
    }
  }
