/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
  
    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  }

/*font*/
.font-family-regular-css{
  font-family: MadaniArabic-Regular;
  font-size: 19.6px;
}


@font-face {
    font-family: 'MadaniArabic-Regular';
    src: url('fonts/alfont_com_Madani-Arabic-Regular.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'MadaniArabic-Medium';
    src: url('fonts/alfont_com_Madani-Arabic-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'MadaniArabic-Light';
    src: url('fonts/alfont_com_Madani-Arabic-Light.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-Italic.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}
*{
    font-family:MadaniArabic-Regular ;
}


/*======================Logo & Main title=======================*/


.logo-title::before{
  content: 'دورة تحفة الأطفال ';
  font-family:MadaniArabic-Regular ;
  font-size: var(--space-xs);
  font-weight: 600;
  color: rgb(105, 22, 11);
  padding: 10px 50px;
  background-color: white;
  position: absolute;
  right: -200px;
  top: 5px;
  z-index: -1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*1/3 circle effect*/
.logo-title::after{
  content: '';
 position: absolute;
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  left: -12px;
  top: -12px;
  background: conic-gradient(
      transparent 0deg,
      transparent 240deg, /* 2/3 */
      white 240deg, 
      white 360deg /* 1/3 */
  );
  mask: radial-gradient(circle, transparent 62%, white 62%); /* Cuts out the inner circle */
  -webkit-mask: radial-gradient(circle, transparent 62%, white 62%); /* Safari support */
}

/*=======================================SECTION 1*/
   
   .arrow-left-css::after{ /*white arrow*/
      content: '';
      position: absolute;
      transform: rotate(-90deg);
      border-bottom: 30px solid transparent;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-top: 40px solid white;
      bottom: -30px;
      left: 50px;
      bottom: -30px;
      left: 50px;
    } 
    .taj-sticker::after{
        content: url('images/دورة التجويد (42).png'); /*taj al wakar  sticker*/
      position: absolute;
      transform: scale(0.6);
      bottom: -90px;
      left: -10px;
  
    }
   
    @media(max-width:1280px){
      .sticker-right-css::before{ /*right sticker*/
        content: url('images/دورة التجويد (66).png');
        position: absolute;
      transform: scale(0.2);
      top: -150px;
      right: -100px;
      }
  
  }
/*=======================================SECTION 2*/
  @media(max-width:1280px){

    .sticker-left-css::before{ 
    content: url('images/دورة التجويد (57).png');
    position: absolute;
    transform: scale(0.25);
    top: -130px;
    right: -100px;
    border-radius: 50%;

      }
  
  }




  /*==============table*/
  .table-container {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center; 
    margin-top: 20px;
}

.table-container-sub{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid purple;
border-radius: 15px;
width: 100%;
}
/*======= dashed line & badge */

.badge-css::before{
  content: url(images/badge.png);
  display: inline;
  transform: scale(0.5) translateY(-50%);
  }

.line-container {
position: relative;
width: 1.5px;
height: 70px;
display: inline-block; 
}
.dashed-line {
position: relative;
width: 1.5px; 
height: 100%;
background: repeating-linear-gradient(
  to bottom,
  #a305e2,
  #a305e2 3px,
  transparent 3px,
  transparent 6px
); 
}

.line-container::before,
.line-container::after {
content: '';
position: absolute;
width: 7px; 
height: 7px;
background-color: transparent; 
border-radius: 50%; 
border: 1.5px solid #a305e2;
}

.line-container::before {
top: -6.5px; 
left: 50%;
transform: translateX(-50%);
}

.line-container::after {
bottom: -4px; 
left: 50%; 
transform: translateX(-50%);
}


@media(max-width:1024px){
/*badge*/
  .badge-css::before{
    content: '';
    display: inline;
    transform: scale(0.5) translateY(-50%);
    }
  .badge-li-css::before{
    content: '';
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background-image: url(images/badge.png); 
    background-size: contain; 
    background-repeat: no-repeat; 
    margin-left: 30px;
  }
/*dashed line*/
  .line-container {
    width: 70%; 
    height: 1.5px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .dashed-line {
    width: 100%;
    height: 1.5px; 
    background: repeating-linear-gradient(
      to right, 
      #a305e2,
      #a305e2 3px,
      transparent 3px,
      transparent 6px
    ); 
  } 
  .line-container::before {
    top: 50%;
    left: -6.5px; 
    transform: translateY(-50%);
  }

  .line-container::after {
    top: 50%;
    right: -4px; 
    transform: translateY(-50%);
  }
  .star{
    height: 15px;
    width: 15px;
  } 
  .title-container{
    justify-content: space-between;
  }

}
@media(max-width: 896px){
  .table-container{
  width: 100%;
  }
  .title-container{
    width: 90%;
  }
  .info01, .info02{
    padding: 0px !important; 
    align-items: start;
    gap: 10px; 
  }
  }
/*3th content*/

.title-3{
    margin-right: 30px;
    text-align: center;
}



.gold-marker::before{ /*keep*/
  content: '';
  display: inline-block;
  width: 20px; 
  height: 20px; 
  background-image: url('images/sparkles.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  margin-left: 20px;
}
  /*=======================================part 4*/
  /*1st content*/
  .icons-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 1%;
    height: 100%;
    z-index: 1;

  }
  .icons-left img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .message-left-icons {
    background-color: white;
    color: black;
    padding: 0px;
    position: relative;
    border-radius: 80px; /*modified*/
    padding: 20px;
    padding-left: 50px; /* x% * woman(width)*/ /*modified*/
  }
  .message-left-icons::after{
    content: '';
    position: absolute;
    transform: rotate(-90deg);
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-top: 40px solid white;
    bottom: -30px;
    left: 50px;
    bottom: -30px;
    left: 50px;
  }
  @media(max-width: 500px){
    .icons-left{
        flex-direction: row;
        justify-content: center;
        top: -30px;
        left: -2%; 
      }
      .icons-left img{
        background-color: transparent;
      }
  }
  /* remove the 1st li element marker*/
  .message-left-icons ul li:nth-child(1){
    list-style: none;
  }
  @media(max-width: 1000px){

    .icons-left img{
        margin: 10px;
        height: 40px;
        width: 40px;

      }
      .message-left-icons{
        padding-right: 10px;
        padding-left: 0px;
        border-radius: 20px;
    
    }      
      .message-left-icon::before{
      content: url('images/دورة التجويد (57).png');
      position: absolute;
      transform: scale(0.25);
      top: -130px;
      right: -100px;
      background-color: pink;
      border-radius: 50%;
        }
  }

/*triangle*/
 .triangle-css::before {
    content: '';
    width: 0; 
    height: 0;
    right: 0;
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent; 
    border-right: 20px solid rgb(247, 46, 80); 
    position: absolute;
}




/*5th content*/

/*=====================================>container & container01*/



.pink-marker::before{
  padding: 0;
  content: '';
  display: inline-block;
  width: 30px; 
  height: 30px; 
  background-image: url('images/دورة التجويد (32).png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  margin-left: 20px;
  border-radius: 50%;
  filter: drop-shadow(0px 5px 5px rgb(255, 156, 173)); 

}

/*=====================================>Styled box*/
.line{
    position: absolute;
    bottom: 30%;
    left: 20px;
    width: 7.5px; 
    height: 30px; 
    background-color: white;
    z-index: 1000000;
}

.styled-box-css::before,
.styled-box-css::after {
    content: '';
    position: absolute;
    height: 8px; /* height of the gap */
    z-index: 1;
}

/* Top-right cut */
.styled-box-css::before {
    background: black; 
    width: 50px; /* width of the gap */ 
    top: -3.5px;
    right: 12%;
    border: 30px solid white;
    /* border-radius: 30px; */
    border-top: none;
    border-bottom: none;
    transform: translateY(-50%);
}

.danger-sticker-css::before{
  content: url('images/دورة التجويد (80).png');
  transform: scale(0.5) ;
  position: absolute; 
  display: block;
  top: -5px;
  left: -8px; 
  z-index: 10000;
}

/* Bottom-left cut */
.styled-box-css::after {
    background: white;  
    width: 30px; /* width of the gap */
    bottom: -3px;
    left: 15%;
    transform: translateY(50%);

}


@media(max-width: 580px){
    .line{
        width: 5px; 
        height: 30px; 
    }
    .styled-box-css::before,
    .styled-box-css::after {
        height: 5px; /* height of the gap */
    }
    /* Top-right cut */
    .styled-box-css::before {
        width: 50px; /* width of the gap */ 
    }
    
    /* Bottom-left cut */
    .styled-box-css::after {
        width: 30px; /* width of the gap */
    }
    .danger-sticker-css::before{
      transform: scale(0.4) ; 
      top: -10px;
      left: -15px;
    }
}

/*===============================================================================*/
/**************************************DIAGRAM *******************************************/
/*===============================================================================*/

/*=======================CONTAINER ALL============================*/
.container-all{
  position: relative;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 250px;
}
  /*========================== DIAGRAM=========================*/
.diagram-container{
    position: relative;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;

  }  

  .diagram-circle{
    position: relative;
    top: 100px;
    width: 200px; 
    height: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

/* circle*/
.diagram-circle::after {
  content: '';
  position: absolute;
  width: 120%; 
  height: 120%;
  border-radius: 50%; 
  border: 3px dashed white;
  
 
}

.diagram-title{
    text-align: center;
    font-size: var(--space-m);
    font-weight: 600;
    color: rgb(97, 19, 19);
}
.diagram-circle li{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 230px;
  border-radius: 50px;
  background-color: rgb(253, 162, 177);
  padding-right: 15px;

}
.diagram-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 3px;
}

.diagram-circle li:nth-child(1){
  position: absolute;
  top: -50px;
  left: 230px;
  background-color: white;
}
.diagram-circle li:nth-child(2){
  position: absolute;
  top: 55px;
  left: 270px;
}
.diagram-circle li:nth-child(3){
  position: absolute;
  bottom: -20px;
  left: 240px;
  background-color: white;
}
.diagram-circle li:nth-child(4){
  position: absolute;
  top: -50px;
  left: -260px;
  background-color: white;
}
.diagram-circle li:nth-child(5){
  position: absolute;
  top: 55px;
  left: -290px;
}
.diagram-circle li:nth-child(6){
  position: absolute;
  bottom: -20px;
  left: -270px;
  background-color: white;
}

/*markers*/
.diagram-circle li:nth-child(1)::before,
.diagram-circle li:nth-child(2)::before,
.diagram-circle li:nth-child(3)::before,
.diagram-circle li:nth-child(4)::before,
.diagram-circle li:nth-child(5)::before,
.diagram-circle li:nth-child(6)::before{
    content: ''; 
    height: 10px;
    width: 10px;
    background-color: white;        
    position: absolute;
    border-radius: 50%;
    z-index: 100;
  }
.diagram-circle li:nth-child(2)::before,
.diagram-circle li:nth-child(5)::before{
    content: ''; 
    height: 10px;
    width: 10px;
    background-color: rgb(253, 162, 177);        
    position: absolute;
    border-radius: 50%;
    z-index: 100;
  }

    /*small circle*/
.diagram-circle li:nth-child(1)::after,
.diagram-circle li:nth-child(2)::after,
.diagram-circle li:nth-child(3)::after,
.diagram-circle li:nth-child(4)::after,
.diagram-circle li:nth-child(5)::after,
.diagram-circle li:nth-child(6)::after{
    content: ''; 
    height: 20px;
    width: 20px;
    background-color: transparent;      
    position: absolute;
    border-radius: 50%;
    border: 2px dashed white;
    z-index: 100000;
    transform: translate(-25%, -30%); /* child 1 and child 2*/
  }
  .diagram-circle li:nth-child(3)::after{
    transform: translate(-25%, 30%);
  }
   /*position*/
  .diagram-circle li:nth-child(1)::before,
  .diagram-circle li:nth-child(1)::after{
    top: 60px;
    left: -50px;
  }
  .diagram-circle li:nth-child(2)::before,
  .diagram-circle li:nth-child(2)::after{
    top: 30px;
    left: -55px;
  }
  .diagram-circle li:nth-child(2)::after{
    border: 2px dashed rgb(253, 162, 177);
  }
  .diagram-circle li:nth-child(3)::before,
  .diagram-circle li:nth-child(3)::after{
    bottom: 45px;
    left: -50px;
  }

  .diagram-circle li:nth-child(4)::before,
  .diagram-circle li:nth-child(4)::after{
    top: 60px;
    right: -50px;
  }
  .diagram-circle li:nth-child(4)::after{
    transform: translate(25%, -30%);
  }
  .diagram-circle li:nth-child(5)::before,
  .diagram-circle li:nth-child(5)::after{
    top: 30px;
    right: -45px;
  }
  .diagram-circle li:nth-child(5)::after{
    transform: translate(25%, -30%);
    border: 2px dashed rgb(253, 162, 177);
  }
  .diagram-circle li:nth-child(6)::before,
  .diagram-circle li:nth-child(6)::after{
    bottom: 45px;
    right: -50px;
  }
  .diagram-circle li:nth-child(6)::after{
    transform: translate(25%, 30%);
  }
 
  /*arrow*/

.arrow{
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    z-index: 0;

}
.arrow1{
  top: 40px; 
  border-right: 20px solid white;
  left: -20px;
  transform: rotate(-25deg);
}
.arrow2{
  top: 20px; 
  border-right: 20px solid rgb(253, 162, 177);
  left: -25px;
  transform: rotate(-10deg);
}
.arrow3{
  top: 15px; 
  border-right: 20px solid white;
  left: -25px;
  transform: rotate(15deg);
}
.arrow4{
  top: 40px; 
  border-left: 20px solid white;
  right: -20px;
  transform: rotate(25deg);
}
.arrow5{
  top: 20px; 
  border-left: 20px solid rgb(253, 162, 177);
  right: -25px;
  transform: rotate(-0);
}
.arrow6{
  top: 15px; 
  border-left: 20px solid white;
  right: -25px;
  transform: rotate(-15deg);
}


  
/*==================================md screen==========================*/
@media(max-width:1200px){
  .container-all{
    transform: scale(0.75);
    height: 30px;
    margin-bottom: 200px;
  }
   /*position*/
   .diagram-circle li:nth-child(1)::before,
   .diagram-circle li:nth-child(1)::after{
    top: 55px;
     left: -60px;
   }
   .diagram-circle li:nth-child(2)::before,
   .diagram-circle li:nth-child(2)::after{
     left: -57px;
     
   }
   .diagram-circle li:nth-child(3)::before,
   .diagram-circle li:nth-child(3)::after{
     left: -50px;
   }
 
   .diagram-circle li:nth-child(4)::before,
   .diagram-circle li:nth-child(4)::after{
    top: 55px;
     right: -60px;
   }
   .diagram-circle li:nth-child(5)::before,
   .diagram-circle li:nth-child(5)::after{
     right: -47px;
   }
   .diagram-circle li:nth-child(6)::before,
   .diagram-circle li:nth-child(6)::after{
     right: -50px;
   }
}

/*==================================sm screen==========================*/
@media(max-width:650px){
    .container-all{
        transform: scale(0.9);
        height: 100px;
        margin-bottom: 250px;
      } 

.diagram-circle{
  width: 120px; /*change the width and height only to resize the whole content*/
  height: 120px;
}

/*big circle*/
.diagram-circle::after {
width: 110%; 
height: 110%;
}

.diagram-title{
  text-align: center;
  font-size: var(--space-s);
  font-weight: 600;
  color: rgb(97, 19, 19);
}
.diagram-circle li{
height: 80px;
width: 140px;
border-radius: 30px;
background-color: rgb(253, 162, 177);
text-align: center;
font-size: var(--space-xs-s);
font-size: 600;

}
img{
width: 50px;
height: 50px;
border-radius: 50%;
padding: 3px;
}

.diagram-circle li:nth-child(1){
position: absolute;
top: -100px;
left: 90px;
}
.diagram-circle li:nth-child(2){
position: absolute;
top: 15px;
left: 150px;
height: 90px;
width: 120px;
}
.diagram-circle li:nth-child(3){
position: absolute;
bottom: -100px;
left: 90px;
}
.diagram-circle li:nth-child(4){
position: absolute;
top: -100px;
right: 90px;
}
.diagram-circle li:nth-child(5){
position: absolute;
top: 15px;
right: 150px;
height: 90px;
width: 120px;

}
.diagram-circle li:nth-child(6){
position: absolute;
bottom: -100px;
right: 95px;
}

/*markers*/
.diagram-circle li:nth-child(1)::before,
.diagram-circle li:nth-child(2)::before,
.diagram-circle li:nth-child(3)::before,
.diagram-circle li:nth-child(4)::before,
.diagram-circle li:nth-child(5)::before,
.diagram-circle li:nth-child(6)::before{
  height: 0px; /*mod*/
  width: 0px; /*mod*/
}


  /*small circle*/
.diagram-circle li:nth-child(1)::after,
.diagram-circle li:nth-child(2)::after,
.diagram-circle li:nth-child(3)::after,
.diagram-circle li:nth-child(4)::after,
.diagram-circle li:nth-child(5)::after,
.diagram-circle li:nth-child(6)::after{
  height: 0; /* mod*/
  width: 0; /* mod*/
  border: none; /* mod*/
}

/*arrow*/

.arrow{
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  z-index: -10;

}
.arrow1{
top: 75px; 
border-right: 20px solid white;
left: 0px;
transform: rotate(-50deg);
}
.arrow2{
top: 37px; 
border-right: 20px solid rgb(253, 162, 177);
left: -20px;
transform: rotate(-0deg);
}
.arrow3{
top: -15px; 
border-right: 20px solid white;
left: -5px;
transform: rotate(50deg);
}
.arrow4{
top: 75px; 
border-left: 20px solid white;
right: -0px;
transform: rotate(50deg);
}
.arrow5{
top: 37px; 
border-left: 20px solid rgb(253, 162, 177);
right: -20px;
transform: rotate(-0);
}
.arrow6{
top: -15px; 
border-left: 20px solid white;
right: -5px;
transform: rotate(-50deg);
}
}
/*==============================xms ====================================================*/
@media(max-width:650px){
    .container-all{
        transform: scale(0.7);
        height: 50px;
        margin-bottom: 200px;
      } 
    }
